@use '@angular/material' as mat;
@use 'scss/mat-snackbar'; // ✅ This must be present

@include mat.core();

// Optional theme setup
// $theme: mat.define-light-theme(...);
// @include mat.all-component-themes($theme);

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
